# Code owners for gmux
# See https://docs.github.com/articles/about-code-owners
#
# Anyone in the GigaFlowAI org (via the @GigaFlowAI/maintainers team) can
# approve changes. Add new org members to that team to grant them approval.
* @GigaFlowAI/maintainers
